@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --nav-color: #476891;
  --white-header: #F7F7F7;
  --white-body: #BACCE2;
  --white-button: #879EBB;
  --dark-header: #3F526A;
  --dark-body: #476891;
  --signup-header: #DDEBFD;
  --main-padding-x: 6.5rem;
  --main-padding-y: 10rem;
  --main-bg: #F6F6F6;
  --signup-bg: #36485F;
  --signup-btn: #2D4059;
  --signup-input-bg: #41546C;
  --listing-form-bg: #FDFDFD;
  --listing-input-bg: #F8F8F8;
  --listing-input-border: #EAEAEA;
  --listing-input-color: #BDBDBD;
  --listing-btn: #FF6700;
}

@media (max-width: 768px) {
  :root {
    --main-padding-x: 1.5rem;
    --main-padding-y: 2rem;
  }
}

/* ================= GLOBAL STYLES ================= */

body {
  font-size: 16px;
  background-color: var(--main-bg);
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  body {
    font-size: 10px;
  }
}

h1 {
  font-size: 2.25em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

p, li {
  font-size: 1.125em;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

li {
  margin-bottom: 0.7rem;
}

.btn {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

/* ================= NAVBAR ================= */

.navbar {
  padding-left: var(--main-padding-x);
  padding-right: var(--main-padding-x);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-toggler {
  color:#879EEB;
}

.nav-item {
  color: var(--nav-color);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  padding-left: 4rem !important;
}

.nav-item:hover {
  color: var(--nav-color);
}

@media (max-width: 1000px) {
  .nav-item {
    padding-left: 0 !important;
  }
}

/* ================= HERO SECTION ================= */

.hero-bg {
  background-color: #1C222A;
}

.hero-section {
  padding: calc(var(--main-padding-y) - 4rem) var(--main-padding-x);
}

@media (max-width: 768px) {
  .hero-section {
    padding: var(--main-padding-y) var(--main-padding-x)
  }
}

@media (max-width: 425px) {
  .hero-home-img {
    width: 90vw;
  }
}

.header-white {
  color: var(--white-header);
}

.body-white {
  color: var(--white-body);
}

.btn-outline-hero {
  border-color: var(--white-button);
  color: var(--white-body);
  font-size: 0.9375em;
}

/* ================= SUB SECTION ================= */
.sub-section {
  padding: var(--main-padding-y) var(--main-padding-x);
}

@media (min-width: 993px) {
  .sub-text {
    width: 90%;
  }
}

.listings-img {
  width: 60%;
  height: 320px;
  background-image: url("../assets/listings.svg");
  background-size: cover;
  background-position: center;
}

.header-dark {
  color: var(--dark-header);
}

.body-dark {
  color: var(--dark-body);
}

@media (max-width: 768px) {
  .listings-img {
    width: 100%;
    background-position: right;
    background-size: cover;
    height: 120px;
    background-repeat: no-repeat;
    margin-bottom: 1.5em;
  }
}

/* ================= SIGNUP SECTION ================= */
.signup-section {
  background-color: var(--signup-bg);
}

.signup-text {
  padding: var(--main-padding-y) calc(var(--main-padding-x) + 15px);
}

.signup-img {
  width: 95%;
  background-image: url("../assets/signup-img.png");
  background-size: cover;
  background-position: center;
}

.signup-header {
  color: var(--signup-header);
}

.signup-input {
  font-size: 1.125em;
  width: 55%;
  background-color: var(--signup-input-bg);
  font-family: 'Rubik', sans-serif;
  color: var(--white-button);
  border: 1px solid var(--white-button);
}

.signup-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white-button);
}

.btn-signup {
  width: 45%;
  background-color: var(--white-body);
  color: var(--signup-btn)
}

#signup-free {
  font-weight: 300;
}

@media (max-width: calc(768px - 1px)) {
  .signup-text {
    max-width: 540px;
    padding: var(--main-padding-y) 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .signup-img {
    width: 100%;
    height: 70vw;
  }
  
  .signup-input {
    width: 100%;
    margin-bottom: 0.7rem;
    padding: 0.375rem 0.75rem;
  }
  
  .btn-signup {
    font-size: 1.125em;
    width: 100%;
  }
}

@media (max-width: calc(576px - 1px)) {
  .signup-text {
    padding: var(--main-padding-y) var(--main-padding-x);
  }
}

/* ================= LISTINGS SECTION ================= */
.listing-section {
  padding: var(--main-padding-y) var(--main-padding-x);
}

.listing-text {
  flex: 1;
}

.listing-form {
  background-color: var(--listing-form-bg);
  box-shadow: 0px 4px 16px 0px rgb(0,0,0,0.1);
  padding: 1.6875em;
  border-radius: 4px;
}

.listing-input, .listing-form textarea {
  background-color: var(--listing-input-bg);
  color: var(--listing-input-color);
  border: 1px solid var(--listing-input-border);
  font-family: 'Rubik', sans-serif;
  border-radius: 4px;
  padding: 1.5em;

  margin-bottom: 1em;
}

.listing-form textarea {
  width: 100%;
  resize: none;
  padding: 1em;
  font-size: 1rem;
}

.listing-form > ::placeholder {
  color: var(--listing-input-color);
}

.btn-listing {
  background-color: var(--listing-btn);
  color: var(--white-header);
  font-size: 0.9375em;
  font-weight: 600;
}

/* ================= FOOTER ================= */
#footer {
  padding: 1rem var(--main-padding-x);
}

.footer-item h4 {
  color: var(--signup-btn);
  font-size: 0.9em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-text {
  color: var(--nav-color);
  font-size: 1em;
}

.footer-item ul {
  list-style: none;
  padding-left: 0;
}

@media (max-width: 880px) {
  .footer-list {
    justify-content: center !important;
  }

  .footer-item {
    display: none;
  }

  .footer-social-media {
    display: block !important;
  }

  .footer-social-media h4 {
    display: none;
  }

  .footer-copyright {
    font-size: 0.8rem;
    text-align: center;
  }
}