@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --nav-color: #476891;
  --white-header: #F7F7F7;
  --white-body: #BACCE2;
  --white-button: #879EBB;
  --main-padding-x: 6.5rem;
}

/* ================= GLOBAL STYLES ================= */

body {
  font-size: 16px;
}

h1 {
  font-size: 2.25em;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

p {
  font-size: 1.125em;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.btn {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

/* ================= NAVBAR ================= */

.navbar {
  padding-left: var(--main-padding-x);
  padding-right: var(--main-padding-x);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-toggler {
  color:#879EEB;
}

.nav-item {
  color: var(--nav-color);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  padding-left: 4rem !important;
}

.nav-item:hover {
  color: var(--nav-color);
}

@media (max-width: 1000px) {
  .nav-item {
    padding-left: 0 !important;
  }
}

/* ================= HERO SECTION ================= */

.hero-bg {
  background-color: #1C222A;
}

.hero-section {
  padding: 2rem var(--main-padding-x);
}

.header-white {
  color: var(--white-header);
}

.body-white {
  color: var(--white-body);
}

.btn-outline-hero {
  border-color: var(--white-button);
  color: var(--white-body);
  font-size: 0.9375em;
}